*{
    margin: 0;
    padding: 0;
}

.corpo{
    max-width: 100vw;
}

.topo{
    position: absolute;
    width: 100%;
}

.menu_hamb{
    cursor: pointer;

}

.menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px 50px 0 20px;
}

.menu_botao ul{
    display: flex;
    list-style: none;
    gap: 50px;
}


.img_abertura{
    width: 100%;
}

.botao_topo{
    padding: 8px 26px;
    border-radius: 33px;
    color: #fff;
    text-decoration: none;
    font-family: "Roboto";
}

.botao_contato{
    background-color: #fff;
    text-transform: uppercase;
    color: black;
    padding: 8px 26px;
    border-radius: 33px;
    text-decoration: none;
    font-family: "Alkatra";
}

.menu_botao ul a:hover{
    background: #a1defc;
    color: #fff;
}

.abertura{
    width: 100%;
    margin: 0 auto;
}

.titulo{
    font-family: "Fraunces";
    color: #fff;
    text-align: center;
    margin-top: 130px;
    font-size: 90px;
}

.box_seta{
    text-align: center;
    margin-top: 110px;
}

.sessao2{
    display: flex;
}

.txt_sessao{
    width: 100%;
    display: flex;
    justify-content: center;

}

.box_sessao{
    width: 100%;
    max-width: 520px;
    margin: 65px 5px 0 75px;
}

.titulo_sessao{
    font-family: "Alkatra";
    font-size: 40px;
    align-items: center;
    margin-bottom: 60px;
}

.txt_sessao_p{
    font-family: "Roboto";
    color: #595959;
    align-items: center;
    line-height: 30px;
    font-size: 20px;
}

.img_sessao{
    width: 100%;
}

.imagem_ovo{
    width: 100%;
}

.botao_sessao{
    max-width: 409px;
    margin: 0 auto;
    text-decoration: none;
    color: black;
    font-family: "Alkatra";
    text-transform: uppercase;
}

.link_sessao{
    margin-top: 50px;
}

.detalhe_link_amarelo{
    display: block;
    width: 103px;
    background: #f8f695;
    height: 8px;
    margin-top: -7px;
    margin-left: -7px;
    border-radius: 10%;
}

.link_sessao:hover .detalhe_link_amarelo{
    background: #e7e703;
}

.sessao3{
    display: flex;
    width: 100%;
}

.imagem_taca{
    width: 100%;
}

.detalhe_link_vermelho{
    display: block;
    width: 103px;
    background: #ffb2ab;
    height: 8px;
    margin-top: -7px;
    margin-left: -7px;
    border-radius: 10%;
}

.link_sessao:hover .detalhe_link_vermelho{
    background: #ff7c70;
}

.sessao4{
    display: flex;
    width: 100%;
}

.sessao4_1{
    width: 100%;
    position: relative;
}

.sessao4_2{
    width: 100%;
    position: relative;
}

.txt_sessao4{
    width: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    bottom: 24px;
    align-items: center;
}

.titulo_sessao4{
    font-family: "Alkatra";
    font-size: 40px;
    align-items: center; 
}

.txt_sessao_p4{
    font-family: "Roboto";
    color: #595959;
    line-height: 30px;
    font-size: 20px;
    max-width: 450px;
    margin-top: 40px;
}

.img_sessao4_1{
    width: 100%;
}

.testemunhos{
    text-align: center;
}

.cliente_titulo{
    font-family: 'Alkatra';
    font-size: 20px;
    text-transform: uppercase;
    color: #b4b2b2;
    letter-spacing: 8px;
    margin-top: 145px;
}

.cliente{
    max-width: 260px;
}

.cliente_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.foto_cliente{
    border-radius: 80px;
    width: 60px;
}

.cliente_txt{
    font-family: 'Roboto';
    font-size: 14px;
    color: #2c2a2a;
    line-height: 24px;
    padding-top: 44px;
    padding-bottom: 44px;
}

.cliente_nome{
    font-family: 'Fraunces';
    font-size: 15px
}

.cliente_prof{
    font-family: 'Roboto';
    font-size: 12px;
    color: #8f8c8c;
    padding-top: 12px;
    padding-bottom: 70px;
}

.img_container{
    width: 100%;
    display: flex;
}

.img_sessao5{
    max-width: 25%;
    width: 100%;
    height: auto;
}

.rodape{
    background-color: rgb(189, 249, 189);
    text-align: center;
}

.logo_footer{
    filter: drop-shadow(2px 4px 6px #2c7566);
}

.box_links{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logo_footer{
    margin-top: 40px;
}

.box_botao_footer{
    display: flex;
}

.botao_footer{
    margin: 25px;
    font-family: 'Roboto';
    color: #2c7566;
    font-size: 15px;
}

.botao_footer:hover{
    color: #cccccc;
}

.social_footer{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding-bottom: 20px;
}

.rede_social{
    margin-right: 15px;
}

.rede_social:hover{
    filter: drop-shadow(2px 4px 6px #2c7566);
}



